@font-face {
    font-family: "Circular Std";
    src: url("fonts/CircularStd-Medium.eot");
    src: url("fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Medium.woff") format("woff"), url("fonts/CircularStd-Medium.ttf") format("truetype"), url("fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.eot");
    src: url("fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype"), url("fonts/OpenSans-Regular.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("fontawesome/webfonts/fa-solid-900.eot");
    src: url("fontawesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fontawesome/webfonts/fa-solid-900.woff") format("woff"), url("fontawesome/webfonts/fa-solid-900.ttf") format("truetype"), url("fontawesome/webfonts/fa-solid-900.svg") format("svg");
    font-style: normal;
}

body {
    background-color: #000;
    color: #fff;
}

.nav {
    background-color: #fff;
}

#collapsibleNavbar {
    position: absolute;
    right: 0;
}

.nav-item a {
    font-size: 30px;
    color: #fff !important;
    text-transform: uppercase;
}

.fab {
    color: #fff;
}

.contact_form {
    margin-top: 20%;
}

.title1 {
    font-size: 40px;
    padding: 50px 0;
}

.title2 {
    font-size: 30px;
    padding: 20px 0;
}

.send_btn {
    font-size: 20px;
    border: solid 1px red;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
}

.samsung {
    width: 80%;
    margin-left: 10%;
}

.mail {
    border: solid 1px red;
}

.bottom {
    font-size: 20px;
}

.bottom a,
.bottom a:hover {
    color: #fff;
    text-decoration: none;
}

.app_img img {
    width: 30%;
}

#ajax-loading {
    display: none;
}

@media(max-width: 992px) {
    #collapsibleNavbar {
        position: relative;
        right: 0;
    }
    .navbar-brand img {
        width: 200px;
    }
    .app_img img {
        width: 30%;
    }
}